body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
}


.container {
  background: #e0ecee;
  padding: 25px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(18, 16, 16, 0.2);
  text-align: center;
  width: 100%;
  max-width: 360px;
  margin: auto;
  animation: fadeIn 0.5s ease-in-out;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 22px;
}

input, select, button {
  width: 100%;
  margin: 12px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  background: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #45a049;
}

#result {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.selectors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.swap-btn {
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.swap-btn:hover {
  background: #388E3C;
  transform: rotate(180deg);
}

footer {
  text-align: center;
  font-size: 16px;
  color: #1a1919;
  margin-top: 50px;
}

footer p {
  margin: 15px 0;
}

footer strong {
  color: #161510;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 200px) {
  h2 {
    font-size: 10px;
  }
  input, select, button {
    font-size: 20px;
    padding: 10px;
  }
  .swap-btn {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }
}
